<div class="stars-rating">
  <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E47467"/>
  </svg>
  <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E47467"/>
  </svg>

  {%- if stars >= 3 -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E47467"/>
    </svg>
  {%- else -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E7E7E7"/>
    </svg>
  {%- endif -%}

  {%- if stars >= 4 -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E47467"/>
    </svg>
  {%- else -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E7E7E7"/>
    </svg>
  {%- endif -%}

  {%- if stars == 5 -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E47467"/>
    </svg>
  {%- else -%}
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26358 11.3693L3.32358 13.7893C2.84858 14.0813 2.56758 13.8853 2.69358 13.3463L3.76958 8.81625L0.260579 5.79325C-0.161421 5.43025 -0.0634213 5.10025 0.500579 5.05325L5.10258 4.68325L6.88058 0.38325C7.09058 -0.12675 7.43058 -0.12875 7.64258 0.38325L9.42058 4.68325L14.0236 5.05325C14.5776 5.09925 14.6906 5.42325 14.2636 5.79325L10.7556 8.81325L11.8306 13.3453C11.9576 13.8813 11.6836 14.0853 11.2026 13.7893L7.26258 11.3673L7.26358 11.3693Z" fill="#E7E7E7"/>
    </svg>
  {%- endif -%}
</div>