.reviews {
  padding: 0 10px;
}
.reviews .reviews__wrapper {
  max-width: 1520px;
  padding: 20px 44px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}
.reviews .reviews__wrapper .reviews__headings {
  display: flex;
  flex-direction: column;
  margin-bottom: 61px;
}
.reviews .reviews__wrapper .reviews__title {
  font-family: "Manrope";
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 16px;
}
.reviews .reviews__wrapper .reviews__subtitle {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.reviews .reviews__wrapper .reviews__button {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 23px 68px;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  border-radius: 45px;
  border: 2px solid;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}
.reviews .reviews__wrapper .reviews__slider-wrapper {
  position: relative;
  margin: 0 auto 50px auto;
  display: flex;
  width: 100%;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-next,
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-prev {
  background-color: #E57467;
  transition: all ease-in-out 0.5s;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-next::after,
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-prev::after {
  color: #FFFFFF;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-disabled {
  background-color: #FFFFFF;
  opacity: 1;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-disabled::after {
  color: #172D4B;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-next {
  right: -66px;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-prev {
  left: -66px;
}
.reviews .reviews__wrapper .reviews__slider-wrapper .swiper-pagination {
  bottom: 48px;
}
.reviews .reviews__wrapper .reviews__slider {
  display: flex;
  width: 100%;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: auto;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .stars-rating {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-title {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-content {
  padding: 10px;
  margin-bottom: 32px;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-description {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-reviewer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-reviewer img {
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-reviewer-name {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-reviewer-name span {
  font-weight: 600;
}
.reviews .reviews__wrapper .reviews__slider .reviews__block .reviews__block-reviewer-name .reviews__block-reviewer-initials {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  background-color: #E7E7E7;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
}
.reviews__block-reviewer-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
}
@media screen and (min-width: 769px) {
  .reviews .reviews__wrapper .reviews__slider-wrapper .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 1420px) {
  .reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-next {
    right: -58px;
  }
  .reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-prev {
    left: -58px;
  }
}
@media screen and (max-width: 1400px) {
  .reviews .reviews__wrapper .reviews__slider-wrapper {
    width: 100%;
  }
  .reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-next,
  .reviews .reviews__wrapper .reviews__slider-wrapper .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .reviews .reviews__wrapper {
    padding: 0;
  }
  .reviews .reviews__wrapper .reviews__headings {
    margin-bottom: 48px;
    padding: 0 16px;
  }
  .reviews .reviews__wrapper .reviews__title {
    font-size: 24px;
    line-height: 31.2px;
  }
  .reviews .reviews__wrapper .reviews__subtitle {
    font-size: 14px;
    line-height: 22.4px;
  }
  .reviews .reviews__wrapper .reviews__button {
    width: calc(100% - 32px);
    border-radius: 8px;
    padding: 20px;
  }
  .reviews .reviews__wrapper .reviews__slider-wrapper {
    padding: 0 16px 69px;
    margin-bottom: unset;
  }
}
